body {
    background-color: #003366;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 50px;
  }
  .datos{
    width: 400px;
  }
  
  h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-perfil {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #0099CC;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #006699;
  }
  